body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
          
   }
   header {
     height: 150px;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center; 
   }
   .main {
    height:calc(100vh - 150px);
    width: 100vw;
     font-size: 64px;
     display: flex;
     justify-content: center;  
     align-items: center;
     /* text-align: justify; */
     padding: 20px;   
   }
   div {
       box-sizing: border-box;
       width: 325px;
       text-align: start;
       padding: 10px;
   }

   .start-button {
       font-family: inherit;
       width: 200px;
       height: 80px;
       background-color: black;
       border: solid 2px white;
       color: white;
       border-radius: 8px;
       font-size: 24px;
       font-weight: bold;

   }
   .start-button-clicked {    
    background-color: white;
    border: solid 2px black;
    color: black;
   

}